body { background-image: url('images/woodbg.jpg'); background-repeat: repeat; background-color: #151515; color: #d6d3c0; font-family: palatino linotype, serif; }

#container { background-color: transparent; width: 1240px; height: 620px; position: relative; margin: auto; }

#logoDiv { background-color: transparent; width: 100px; height: 53px; background-image: url('images/logo.png');
			background-repeat: no-repeat; position: relative; margin: auto; }

#login { background-color: #151515; width: 550px; height: 35px; float: left; margin-left: 4px; text-align: center; display: block;
					line-height: 32px; border-color: #d6d3c0; border-style: solid; border-width: 2px;
					border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
	
/* #card { background-color: red; width: 100px; height: 160px;
			border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; } */

.card	{ background-color: red; width: 100px; height: 160px; float: left; word-wrap: break-word;
			text-align: center; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.cardTapped { background-color: red; width: 100px; height: 160px; float: left; word-wrap: break-word;
			text-align: center; border-radius: 10px; -moz-border-radius: 10px; 
			-webkit-border-radius: 10px; -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); }


.graveyardPlaceholder { background-color: red; width: 100px; height: 160px;
						word-wrap: break-word; border-radius: 10px;					
						position: relative; margin: 0px auto;
						margin-bottom: 5px;
						-moz-border-radius: 10px; -webkit-border-radius: 10px; }

.exiledPlaceholder { background-color: red; width: 100px; height: 160px;
						word-wrap: break-word; border-radius: 10px;
						 position: relative; margin: 0px auto;
						-moz-border-radius: 10px; -webkit-border-radius: 10px; }


.cardback{ background-color: blue; width: 100px; height: 160px; position: relative; margin: 0px auto;
			margin-bottom: 5px;
			border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

.draggingFromLibrary { background-color: blue; width: 100px; height: 160px;
			border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
		
		
			
#battlefield { background-color: transparent; width: 953px; height: 345px; 
					margin: auto; margin-bottom: 5px; float: left; text-align: center;
					border-color: #d6d3c0; border-style: dashed; border-width: 2px;
					border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

#info { background-color: #151515; width: 271px; height: 345px; margin: auto; margin-bottom: 5px; float: right;
					border-color: #d6d3c0; border-style: solid; border-width: 2px;
					border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

	#topinfo { background-color: #151515; width: 271px; height: 195px; margin: auto; float: right;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

	#cardinfo { background-color: transparent; width: 271px; height: 150px; float: left;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

#bottomContainer  { background-color: transparent; width: 1240px; height: 215px; margin: auto; display: block;
					border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
					
	#hand { background-color: transparent; width: 815px; height: 210px; float: left; margin-right: 5px;
						border-color: #d6d3c0; border-style: dashed; border-width: 2px;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

	#library { background-color: transparent; width: 130px; height: 210px; float: left; margin-right: 4px;
						border-color: #d6d3c0; border-style: dashed; border-width: 2px; text-align: center;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }
	
	#graveyard { background-color: transparent; width: 130px; height: 210px; float: left; margin-left: 3px;
						border-color: #d6d3c0; border-style: dashed; border-width: 2px; text-align: center;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }	

	#exile { background-color: transparent; width: 130px; height: 210px; float: right;
						border-color: #d6d3c0; border-style: dashed; border-width: 2px; text-align: center;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }


#addCardForm { background-color: transparent; width: 500px; height: 200px;
						border-color: #d6d3c0; border-style: dashed;
						border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; }

#cardList { background-color: transparent; width: 300px; height: 600px; float: right; 
				list-style-type: none; margin-right: 200px; }
#cardList li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 0.7em; height: 18px; }
#cardList li span { position: absolute; margin-left: -1.3em; }

#libCounter { margin: 0; text-align: center; padding: 0; }
#graveyardCounter { margin: 0; text-align: center; padding: 0; }
#exiledCounter { margin: 0; text-align: center; padding: 0; }
#battlefieldCounter { margin: 0; text-align: center; padding: 0; }
#handCounter { margin: 0; text-align: center; padding: 0; }